*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:rgb(14, 13, 13);
}
.hero{
    height:100vh;
    width:100%;
    
    background-size: cover;
    background-position:center;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
span{
    color:#f9004d
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
.page-indicator{
    font-weight: 1000;
    background-color:#f9004d;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13;
    
}
nav ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f9004d;
    display:block;
    margin:auto;
    transition:0.5s;
}
nav ul li:hover::after{
   width:100% ;
}


.search-container{
    float: right;
    margin-left: 30px;
}
.search-container input[type=text]{
    font-size: 17px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 3.9px;
    
}
.search-container button{
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #f9004d;
    font-size: 17px;
    border: none;
    cursor: pointer;
}



.repeating_image{
    display:flex;
    justify-content:center;
    
}
.name{
  color:#fff;
  font-size: 57px;
  margin-left:50px;
  margin-top: 300px;
  font-weight:bold;
    
}
.description-about-us{
    color: white;
   
}
.description-about-us h1{
    color: white;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 100px;
}
.description-about-us h4{
    text-align:justify;
    margin: 40px 50px 50px 50px;
    width: 45%;
    float: left;
}
.first-image{
    height: 450px;
    width: 45%;
    overflow: hidden;
    margin-bottom: 30px;
}
.second-image{
    overflow: hidden;
    float: left;
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 8px;
}
.third-image{
    height: 450px;
    width: 850px;
    margin-top: 100px;
    margin-right: 90px;
    margin-left: 40px;
}
.third-description{
    width: 95%;
}
.fourth-image{
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 8px;
}
.fifth-image{
    height: 1000px;
    width: 1000px;
    margin-top: 50px;
    margin-left: 109px;
    margin-right: 100px;
    overflow: hidden;
}
.last-description{
    margin-left: 100px;
    margin-top: 550px;
    float: left;
}
.last{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.company{
    color:#fff;
    font-size:20px;
}
.company a{
    text-decoration: none;
    color: orange;
}
.contacts{
    color:#fff;
    font-size:20px;
    
    
}
.contacts p{
    font-size: 20px;
    letter-spacing: 2px;
}
.faq{
    color:#fff;
    font-size:20px;
}
.faq a{
    text-decoration: none;
    color: orange;
}
.support{
    color:#fff;
    font-size:20px;
}
.support a{
    text-decoration: none;
    color: orange;
}

.end{
    text-align: center;
    font-size:15px;
    color:#fff;
    letter-spacing: 2px;
    margin-top: 50px;
}