*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:rgb(14, 13, 13);
}
.hero{
    height:100vh;
    width:100%;
    
    background-size: cover;
    background-position:center;

}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing:1px;
    cursor: pointer;
    text-decoration: none;
}
.logo a{
    text-decoration: none;
}
span{
    color:#f9004d
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position:relative;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 13;
    
}
nav ul li::after{
    content: '';
    width:0%;
    height: 2px;
    background: #f9004d;
    display:block;
    margin:auto;
    transition:0.5s;
}
nav ul li:hover::after{
   width:100% ;
}


.search-container{
    float: right;
    margin-left: 30px;
}
.search-container input[type=text]{
    font-size: 17px;
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 3.9px;
}
.search-container button{
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background:#f9004d;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.repeating_image{
    display:flex;
    justify-content:center;
    
}
.name{
  color:#fff;
  font-size: 57px;
  margin-left:50px;
  margin-top: 300px;
  font-weight:bold;
    
}

.card .txt_field{
    margin-bottom: 10px;
    
}
.txt_field input[type=text]{
    height: 40px;
    width: 250px;
    color:white;
    background: black;
    border-radius: 10px;
    margin-top: 50px;
}
.txt_field input[type=password]{
        height: 40px;
        width: 250px;
        color:white;
        background: black;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
}

.txt_field a{
    background-color:#f9004d;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight: bold;
    padding:9px 22px;
    margin-bottom: 20px;
   
    border-radius: 30px;
    transition: .4s;
    height: 40px;
    width: 250px;
    color:white;
    background: black;
    
    margin-top: 30px;

}
.txt_field a:hover{
    background-color:transparent;
    border:2px solid #f9004d;
    cursor: pointer;
}


.login{
    background: #101010;
    width:100%;
   

}
.tittle h2{
    color:white;
    font-size: 75px;
    width: 1130px;
    margin:30px auto;
    text-align: center;
}
.box{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:400px;
}
.card{
    height:400px;
    width:335px;
    padding:20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow:hidden;
    text-align: center;
}
.pass a{
    text-decoration: none;
    font-size: 16px;
    color:#f9004d;
    margin-bottom: 20px;
}
.signup_link a{
    text-decoration: none;
    font-size: 20px;
    color:#f9004d;
}
.signup_link{
    text-decoration: none;
    font-size: 16px;
    color:#fff; 
}





.last{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.company{
    color:#fff;
    font-size:20px;
}
.company a{
    text-decoration: none;
    color: orange;
}
.contacts{
    color:#fff;
    font-size:20px;
    
    
}
.contacts p{
    font-size: 20px;
    letter-spacing: 2px;
}
.faq{
    color:#fff;
    font-size:20px;
}
.faq a{
    text-decoration: none;
    color: orange;
}
.support{
    color:#fff;
    font-size:20px;
}
.support a{
    text-decoration: none;
    color: orange;
}

.end{
    text-align: center;
    font-size:15px;
    color:#fff;
    letter-spacing: 2px;
    margin-top: 50px;
}